name: Build and release

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version tag'
        required: true

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target_arch: [x86_64, x86, arm64-v8a, armeabi-v7a]
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: 'true'

      - name: Setup NDK
        uses: nttld/setup-ndk@v1
        id: setup-ndk
        with:
          ndk-version: r27c
          add-to-path: false

      - name: Get protoc
        run: |
          wget https://github.com/protocolbuffers/protobuf/releases/download/v21.12/protoc-21.12-linux-x86_64.zip
          sudo unzip -j protoc-*.zip bin/protoc -d /usr/local/bin/

      - name: Apply patch
        run: ./patch.sh

      - name: Build
        env:
          ANDROID_NDK: ${{ steps.setup-ndk.outputs.ndk-path }}
        run: bash ./build.sh ${{ matrix.target_arch }}

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: aapt2-${{ matrix.target_arch }}
          path: ${{ github.workspace }}/build/bin/aapt2-*
          if-no-files-found: error

  release:
    name: Release
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts

      - name: Prepare binaries
        run: |
          mkdir -p release
          cp artifacts/aapt2-arm64-v8a/aapt2-arm64-v8a release/aapt2_arm64-v8a
          cp artifacts/aapt2-armeabi-v7a/aapt2-armeabi-v7a release/aapt2_armeabi-v7a
          cp artifacts/aapt2-x86_64/aapt2-x86_64 release/aapt2_x86_64
          cp artifacts/aapt2-x86/aapt2-x86 release/aapt2_x86

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.event.inputs.version }}
          name: ${{ github.event.inputs.version }}
          files: release/*
